# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.pyc

# Variables de entorno
backend/.env
backend/firebase_credentials.json

# Modelo ONNX (muy pesado para GitHub)
backend/models/best.onnx

# Videos generados
backend/videos/

# Node
frontend/node_modules/

# Vite
frontend/dist/

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Agente local
agente_local/config.json
agente_local/logs/
agente_local/nssm.exe
agente_local/nssm_temp/
agente_local/nssm.zip

.venv/